.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .form-control:focus {
  border-color: #28a745;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
} */

/*------------------------------------------- form styling css---------------------------------------------------*/

.bodyHome{
  background:rgb(82, 85, 82);
  color:#111312;
  line-height:1.6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 1em;
  padding-top: 100px;
  padding-bottom: 158px;
}

.bodyPublish{
  background:rgb(82, 85, 82);
  color:#111312;
  line-height:1.6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 1em;
  padding-top: 100px;
  padding-bottom: 80px;
}

.container{
  max-width:1200px;
  max-height:2000px;
  margin-left:auto;
  margin-right:auto;
  padding:5em;
}

ul{
  list-style: none;
  padding:0;
}

.brand{
  text-align: center;
}

.brand span{
  color:#fff;
}

.wrapper{
  box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
}

.wrapper > *{
  padding: 1em;
}

.company-info{
  background:#b8bbb8;
}

/* .company-info2{
  background:rgb(247, 200, 182);
} */

.company-info h3, .company-info ul{
  text-align: center;
  margin:0 0 1rem 0;
}

.contact{
  background:#f9feff;
}

/* FORM STYLES */
.contact-form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:20px;
}

.contact-form-label{
  display:block;
}

.contact-form-p{
  margin:0;
}

.contact-form-full{
  grid-column: 1 / 3;
}

.contact form button, .contact form input, .contact form textarea, .contact form select{
  width:100%;
  padding:.4em;
  border:2px solid #c9e6ff;
  border-color: darkgray;
}

.contact form button{
  background:#c9e6ff;
  border:0;
  text-transform: uppercase;
}

.contact form button:hover,.contact form button:focus{
  background:#92bde7;
  color:#fff;
  outline:0;
  transition: background-color 1s ease-out;
}

/* LARGE SCREENS */
@media(min-width:700px){
  .wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .wrapper > *{
    padding:2em;
  }

  .company-info h3, .company-info ul, .brand{
    text-align: left;
  }
}

/*----------------------------------------------------- Banner ---------------------------------------------*/
.bannerAU {
  display: inline-block;
  /* background: rgba(65, 75, 62, 0.5); */
  /* padding: .05rem 0.03rem; */
  text-align: left;
  text-transform: capitalize;
  letter-spacing: 3px;
}
.bannerAU h2 {
  font-size: 2.5rem;
}
.bannerAU div {
  width: 10rem;
  height: 1px;
  background: #424442;
  margin: 1.7rem auto;
}
.bannerAU h3 {
  width: 10rem;
  height: 2px;
  background: #fff;
  margin: 1.7rem auto;
}

.bannerAU p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 576px) {
  .bannerAU {
    padding: 1rem 1rem;
  }
  .bannerAU h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .bannerAU {
    padding: 1rem 1rem;
  }
  .bannerAU h1 {
    font-size: 4rem;
  }
}